#mainTitle {
    font-size: 3em;
    text-align: center;
    margin: 1em auto auto auto;
}

#mainImg {
    margin: 1em auto auto auto;
    display: block;
    border-radius: 1em;
    width: 500px;
}

#tableMat {
    margin-top: 2em;
}

#tableMatList{
    line-height: 2em;
}

.tableauContour th, .tableauContour td {
    padding: 0.3em;
    text-align: center;
}

.tableauContour tr:nth-child(even) {
    background-color: #777777;
}

.tableauContour tr:nth-child(odd) {
    background-color: black;
}


h1 {
    margin-top: 2em;
    font-size: 32px;
}

h2 {
    margin-top: 2em;
    font-size: 20px;
}

code, .code, .code tr td, .code tr th {
    font-family: consolas;
    font-size: 1em;
}

@media only screen and (max-width: 570px) {
#mainImg {
    width: 400px;
}
    body{
        margin-left: 2%;
        margin-right: 2%;
    }
}